pandas~=1.2.4
Pillow~=8.2.0
china_idiom
plotly~=4.14.3
kaleido
youtube_dl
aiohttp>=3.7.4
urllib3>=1.26.5
twitter
lxml>=4.6.3
googletrans~=3.0.0
python-twitter
requests~=2.24.0
APScheduler
ujson
Quart
msgpack
aiocache==0.11.1
aiocqhttp~=1.3.0
aiofiles==0.5.0
blinker==1.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.8.5
httpcore==0.9.1
httpx==0.13.3
Hypercorn
hyperframe==5.2.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
nonebot~=1.8.2
priority==1.3.0
rfc3986==1.4.0
sniffio==1.1.0
toml==0.10.1
typing-extensions==3.7.4.2
Werkzeug
wsproto==0.15.0
PixivPy==3.5.9
loguru~=0.5.3
jieba
